.App {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:#e9e9e9;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.container{
  max-width: 70%;
  height: 800px;
}

html, body {
  margin: 0px;
  height: 100%;
}

h1 {
  margin-top: 200px;
  font-size: 150px;
  color: black;
}

h4 {
  margin-top: 40px;
  font-size: 35px;
  font-weight: 100;
  color: black;
}

.endtag h3{
  font-size: 20px;
  margin-top:150px;
  padding: 70px;
  color: black;
  text-align: center;
  background-color: white;
}

img {
  width: 550px;
  float: right;
  margin-top: -700px;
}

.bottom{
  background-color: white;
}