.AddBookForm {
    padding: 100px;
    opacity: 0.8;
    background-position: center;
    margin-top: 50px;
    margin-bottom: 50px;
    max-height: 250px;
    max-width: 65%;
    margin: auto;
}

#addButton {
    margin-top: 50px;
    width: 100px;
    height: 45px;
    font-size: 20px;
}

input {
    height: 65px;
}

#boxbtn {
    text-align: center;
}