.AddBookForm {
    padding: 75px;
    background-image: url("https://images.unsplash.com/photo-1526243741027-444d633d7365?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
    background-position: center;
    margin-top: 50px;
    margin-bottom: 50px;
    max-height: 225px;
    max-width: 90%;
    margin: auto;
}

/* .label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.589);
    max-width: 275px;
    font-size: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 6px;
    border-radius: 10px;
} */

.btn {
    margin-top: 20px;
}
