.table {
    margin: auto;
    width: 75% !important; 
    margin-top: 50px;
    color: white;
 }

 th, td {
    font-size: 25px;
    color: black;
 }


.done {
    font-size: 20px;
    width: 36px;
    height: 38px;
    background: green;
    color: #fff;
    outline: none;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: 0.2s;
}

.regbtn {
    font-size: 20px;
    width: 36px;
    height: 38px;
    background: #0275d8;
    color: #fff;
    outline: none;
    border-radius: 4px;
    border: 1px solid transparent;
}

.deletebtn {
    font-size: 20px;
    width: 36px;
    height: 38px;
    background: red;
    color: #fff;
    outline: none;
    border-radius: 4px;
    border: 1px solid transparent;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #c0ddf7;
 }